[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
python-language-server = {version = "*", extras = ["all"]}
black = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
